JBs Cornerstone Project Notebook

This notebook will be mainly used for the capstone project.

In [1]:
import pandas as pd
import numpy as np

In [2]:
print ("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [4]:
# Lets download the dataset
!wget -O Data-Collisions.csv https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv

--2020-09-09 12:57:01--  https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv
Resolving s3.us.cloud-object-storage.appdomain.cloud (s3.us.cloud-object-storage.appdomain.cloud)... 67.228.254.196
Connecting to s3.us.cloud-object-storage.appdomain.cloud (s3.us.cloud-object-storage.appdomain.cloud)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 73917638 (70M) [text/csv]
Saving to: ‘Data-Collisions.csv’

100%[======================================>] 73,917,638  35.5MB/s   in 2.0s

2020-09-09 12:57:03 (35.5 MB/s) - ‘Data-Collisions.csv’ saved [73917638/73917638]

In [3]:
# Load Data From CSV File

df = pd.read_csv('../data_to_solve/Data-Collisions.csv',delimiter=',')
df.head()

/Users/jorgbergmann/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [4]:
# Data Analysis

# Basic Insight of Dataset
# After reading data into Pandas dataframe, it is time for us to explore the dataset.
# df.head(10)
# df.tail(10)
# df.shape

# Data Types
# In order to better learn about each attribute, it is always good for us to know the data type of each column. 
# df.dtypes

# Describe the data
# If we would like to get a statistical summary of each column, such as count, 
# column mean value, column standard deviation, etc. we use the describe method.
# This method will provide various summary statistics, including NaN (Not a Number) values.
# df.describe(include ="all")

# Dataset Info
# Another method you can use to check your dataset is dataframe.info
# It provides a concise summary of your DataFrame.Look at the info of "df".
# Here we are able to see the information of our dataframe, with the top 30 rows and the bottom 30 rows. 
# And, it also shows us the whole data frame has 194673 rows and 38 columns in total. 
# df.info

<bound method DataFrame.info of         SEVERITYCODE           X          Y  OBJECTID  INCKEY  COLDETKEY  \
0                  2 -122.323148  47.703140         1    1307       1307
1                  1 -122.347294  47.647172         2   52200      52200
2                  1 -122.334540  47.607871         3   26700      26700
3                  1 -122.334803  47.604803         4    1144       1144
4                  2 -122.306426  47.545739         5   17700      17700
...              ...         ...        ...       ...     ...        ...
194668             2 -122.290826  47.565408    219543  309534     310814
194669             1 -122.344526  47.690924    219544  309085     310365
194670             2 -122.306689  47.683047    219545  311280     312640
194671             2 -122.355317  47.678734    219546  309514     310794
194672             1 -122.289360  47.611017    219547  308220     309500

       REPORTNO   STATUS      ADDRTYPE   INTKEY  ... ROADCOND  \
0       3502005  Matched  Intersection  37475.0  ...      Wet
1       2607959  Matched         Block      NaN  ...      Wet
2       1482393  Matched         Block      NaN  ...      Dry
3       3503937  Matched         Block      NaN  ...      Dry
4       1807429  Matched  Intersection  34387.0  ...      Wet
...         ...      ...           ...      ...  ...      ...
194668  E871089  Matched         Block      NaN  ...      Dry
194669  E876731  Matched         Block      NaN  ...      Wet
194670  3809984  Matched  Intersection  24760.0  ...      Dry
194671  3810083  Matched  Intersection  24349.0  ...      Dry
194672  E868008  Matched         Block      NaN  ...      Wet

                      LIGHTCOND PEDROWNOTGRNT  SDOTCOLNUM SPEEDING ST_COLCODE  \
0                      Daylight           NaN         NaN      NaN         10
1       Dark - Street Lights On           NaN   6354039.0      NaN         11
2                      Daylight           NaN   4323031.0      NaN         32
3                      Daylight           NaN         NaN      NaN         23
4                      Daylight           NaN   4028032.0      NaN         10
...                         ...           ...         ...      ...        ...
194668                 Daylight           NaN         NaN      NaN         24
194669                 Daylight           NaN         NaN      NaN         13
194670                 Daylight           NaN         NaN      NaN         28
194671                     Dusk           NaN         NaN      NaN          5
194672                 Daylight           NaN         NaN      NaN         14

                                               ST_COLDESC  SEGLANEKEY  \
0                                       Entering at angle           0
1       From same direction - both going straight - bo...           0
2                                  One parked--one moving           0
3                        From same direction - all others           0
4                                       Entering at angle           0
...                                                   ...         ...
194668    From opposite direction - both moving - head-on           0
194669  From same direction - both going straight - bo...           0
194670  From opposite direction - one left turn - one ...           0
194671                       Vehicle Strikes Pedalcyclist        4308
194672  From same direction - both going straight - on...           0

        CROSSWALKKEY  HITPARKEDCAR
0                  0             N
1                  0             N
2                  0             N
3                  0             N
4                  0             N
...              ...           ...
194668             0             N
194669             0             N
194670             0             N
194671             0             N
194672             0             N

[194673 rows x 38 columns]>

In [11]:
# Data Wrangling


# Convert "?" to NaN if any
# In the dataset, missing data comes sometimes with the question mark "?". 
# We replace "?" with NaN (Not a Number), which is Python's default missing value marker, 
# for reasons of computational speed and convenience. Here we would use the function:
# replace "?" to NaN
# df.replace("?", np.nan, inplace = True)


# Steps for working with missing data:
# 1. identify missing data
# 2. deal with missing data
# 3. correct data format

# 1. Identify_missing_values
# Evaluating for Missing Data
# The missing values are converted to Python's default. We use Python's built-in functions to identify these missing values. There are two methods to detect missing data:
# a. .isnull()
# b. .notnull()
# The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.
# "True" stands for missing value, while "False" stands for not missing value.

# missing_data = df.isnull()
# missing_data.head(5)

# Count missing values in each column
# Using a for loop in Python, we can quickly figure out the number of missing values in each column. 
# As mentioned above, "True" represents a missing value, "False" means the value is present in the dataset. 
# In the body of the for loop the method ".value_counts()" counts the number of "True" values. 

# for column in missing_data.columns.values.tolist():
#    print(column)
#    print (missing_data[column].value_counts())
#    print("")    

# Based on the summary above, each column has 205 rows of data, seven columns containing missing data:
# 1. "X": 5534 missing data
# 2. "Y": 5534 missing data
# 3. "ADDRTYPE": 1926 missing data
# 4. "INTKEY" : 129603 missing data
# 5. "LOCATION": 2677 missing data
# 6. "EXCEPTRSNCODE": 109862 missing data
# 7. "EXCEPTRSNDESC": 189035 missing data
# 8. "COLLISIONTYPE": 4904 missing data
# 9. "JUNCTIONTYPE": 6329 missing data
# 10. "INATTENTIONIND": 164868 missing data
# 11. "UNDERINFL": 4884 missing data
# 12. "WEATHER": 5081 missing data
# 13. "ROADCOND": 5012 missing data
# 14. "LIGHTCOND": 5170 missing data
# 15. "PEDROWNOTGRNT": 190006 missing data
# 16. "SDOTCOLNUM": 79737 missing data
# 17. "SPEEDING": 185340 missing data
# 18. "ST_COLCODE": 18 missing data
# 19. "ST_COLDESC": 4904 missing data

# df.dropna(axis=0, inplace=False)
# df.head()

cdf = df[['SEVERITYCODE','STATUS','ADDRTYPE','INTKEY','LOCATION','COLLISIONTYPE','SEVERITYCODE.1','PERSONCOUNT','PEDCOUNT','PEDCYLCOUNT','VEHCOUNT', 'INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'PEDROWNOTGRNT', 'SPEEDING', 'ST_COLCODE', 'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR']]
cdf.head(9)

,SEVERITYCODE,STATUS,ADDRTYPE,INTKEY,LOCATION,COLLISIONTYPE,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,...,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SPEEDING,ST_COLCODE,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,Matched,Intersection,37475.0,5TH AVE NE AND NE 103RD ST,Angles,2,2,0,0,...,N,Overcast,Wet,Daylight,NaN,NaN,10,0,0,N
1,1,Matched,Block,NaN,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Sideswipe,1,2,0,0,...,0,Raining,Wet,Dark - Street Lights On,NaN,NaN,11,0,0,N
2,1,Matched,Block,NaN,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Parked Car,1,4,0,0,...,0,Overcast,Dry,Daylight,NaN,NaN,32,0,0,N
3,1,Matched,Block,NaN,2ND AVE BETWEEN MARION ST AND MADISON ST,Other,1,3,0,0,...,N,Clear,Dry,Daylight,NaN,NaN,23,0,0,N
4,2,Matched,Intersection,34387.0,SWIFT AVE S AND SWIFT AV OFF RP,Angles,2,2,0,0,...,0,Raining,Wet,Daylight,NaN,NaN,10,0,0,N
5,1,Matched,Intersection,36974.0,24TH AVE NW AND NW 85TH ST,Angles,1,2,0,0,...,N,Clear,Dry,Daylight,NaN,NaN,10,0,0,N
6,1,Matched,Intersection,29510.0,DENNY WAY AND WESTLAKE AVE,Angles,1,2,0,0,...,0,Raining,Wet,Daylight,NaN,NaN,10,0,0,N
7,2,Matched,Intersection,29745.0,BROADWAY AND E PIKE ST,Cycles,2,3,0,1,...,N,Clear,Dry,Daylight,NaN,NaN,5,6855,0,N
8,1,Matched,Block,NaN,PINE ST BETWEEN 5TH AVE AND 6TH AVE,Parked Car,1,2,0,0,...,0,Clear,Dry,Daylight,NaN,NaN,32,0,0,N

In [13]:
# Deal with missing data
# How to deal with missing data?
# 1. drop data

# 1. a) drop the whole row 
# Whole columns should be dropped only if most entries in the column are empty. 
# In our dataset, none of the columns are empty enough to drop entirely. 
# We have some freedom in choosing which method to replace data; however, 
# some methods may seem more reasonable than others. We will apply each method to many different columns.
# *   8."COLLISIONTYPE": 4904 missing data, simply delete the whole row. 
#     * Reason: COLLISIONTYPE is what we need to predict accident fatality. Any data entry without COLLISIONTYPE data 
#      cannot be used for prediction; therefore any row now without COLLISIONTYPE data is not useful to us.
# *   3."ADDRTYPE": 1926 missing data. See reason as above.

# *  12. "WEATHER": 5081 missing data, simply delete the whole row. See reason as above.
# *  13. "ROADCOND": 5012 missing data, simply delete the whole row. See reason as above.
# *  14. "LIGHTCOND": 5170 missing data, simply delete the whole row. See reason as above.
# *  18. "ST_COLCODE": 18 missing data, simply delete the whole row.

# simply drop whole row with NaN in "COLLISIONTYPE" column
cdf.dropna(subset=["COLLISIONTYPE"], axis=0, inplace=True)

# simply drop whole row with NaN in "ADDRTYPE" column
cdf.dropna(subset=["ADDRTYPE"], axis=0, inplace=True)

# simply drop whole row with NaN in "WEATHER" column
cdf.dropna(subset=["WEATHER"], axis=0, inplace=True)

# simply drop whole row with NaN in "ROADCOND" column
cdf.dropna(subset=["ROADCOND"], axis=0, inplace=True)

# simply drop whole row with NaN in "LIGHTCOND" column
cdf.dropna(subset=["LIGHTCOND"], axis=0, inplace=True)

# simply drop whole row with NaN in "ST_COLCODE" column
cdf.dropna(subset=["ST_COLCODE"], axis=0, inplace=True)

# reset index, because we droped some rows
cdf.reset_index(drop=True, inplace=True)



# 1. b) drop the whole column 
# *   4. "INTKEY" : 129603 missing data, drop the whole column. 
#     * Reason: The key that corresponds to the intersection associated with a collision is not used herewith 
#       as it is redundant to coordinates.
# *   5. "LOCATION": 2677 missing data, drop the whole column. See reason as above.
# *   6. "EXCEPTRSNCODE": 109862 missing data, drop the whole column. Code not used herewith.
# *   7. "EXCEPTRSNDESC": 189035 missing data, drop the whole column. Description not used herewith.
# *   9. "JUNCTIONTYPE": 6329 missing data, drop the whole column. Type of Junction not used herewith.
# *  10. "INATTENTIONIND": 164868 missing data, drop the whole column. Inattention not used herewith.
# *  11. "UNDERINFL": 4884 missing data, drop the whole column. Drugs and alcohol usage is not used herewith.
# *  15. "PEDROWNOTGRNT": 190006 missing data, drop the whole column. Pedestrian right not used herewith.
# *  16. "SDOTCOLNUM": 79737 missing data, drop the whole column. Sub cathegories of ST_COLCODE not used herewith.
# *  17. "SPEEDING": 185340 missing data, drop the whole column. Speeding was a factor not used herewith.
# *  19. "ST_COLDESC": 4904 missing data, drop the whole column. Description not used as this is plain text.


# 2. replace data: 
# 2. a) replace it by mean 
# *   1. "X": 5334 missing data, replace them with mean.
#     * Reason: as this is a coordinate of the date set in the Seattle area assumed, mean value might be sufficient
# *   2. "Y": 5334 missing data, replace them with mean. See reason as above.


# Calculate the mean value for 'X' column¶
# avg_X=cdf['X'].astype('float').mean(axis=0)
# print("Average of X:", avg_X)
# Replace NaN by mean value
# cdf["X"].replace(np.nan, avg_X, inplace=True)

# Calculate the mean value for 'Y' column¶
# avg_Y=cdf['Y'].astype('float').mean(axis=0)
# print("Average of Y:", avg_Y)
# Replace NaN by mean value
# cdf["Y"].replace(np.nan, avg_Y, inplace=True)

# 2. b) replace it by frequency c) replace it based on other functions 
# not applicable

<ipython-input-13-2faf5c44eb9e>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cdf.dropna(subset=["COLLISIONTYPE"], axis=0, inplace=True)
<ipython-input-13-2faf5c44eb9e>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cdf.dropna(subset=["ADDRTYPE"], axis=0, inplace=True)
<ipython-input-13-2faf5c44eb9e>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cdf.dropna(subset=["WEATHER"], axis=0, inplace=True)
<ipython-input-13-2faf5c44eb9e>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cdf.dropna(subset=["ROADCOND"], axis=0, inplace=True)
<ipython-input-13-2faf5c44eb9e>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cdf.dropna(subset=["LIGHTCOND"], axis=0, inplace=True)
<ipython-input-13-2faf5c44eb9e>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cdf.dropna(subset=["ST_COLCODE"], axis=0, inplace=True)

In [14]:
cdf.head(9)

,SEVERITYCODE,STATUS,ADDRTYPE,INTKEY,LOCATION,COLLISIONTYPE,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,...,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SPEEDING,ST_COLCODE,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,Matched,Intersection,37475.0,5TH AVE NE AND NE 103RD ST,Angles,2,2,0,0,...,N,Overcast,Wet,Daylight,NaN,NaN,10,0,0,N
1,1,Matched,Block,NaN,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Sideswipe,1,2,0,0,...,0,Raining,Wet,Dark - Street Lights On,NaN,NaN,11,0,0,N
2,1,Matched,Block,NaN,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Parked Car,1,4,0,0,...,0,Overcast,Dry,Daylight,NaN,NaN,32,0,0,N
3,1,Matched,Block,NaN,2ND AVE BETWEEN MARION ST AND MADISON ST,Other,1,3,0,0,...,N,Clear,Dry,Daylight,NaN,NaN,23,0,0,N
4,2,Matched,Intersection,34387.0,SWIFT AVE S AND SWIFT AV OFF RP,Angles,2,2,0,0,...,0,Raining,Wet,Daylight,NaN,NaN,10,0,0,N
5,1,Matched,Intersection,36974.0,24TH AVE NW AND NW 85TH ST,Angles,1,2,0,0,...,N,Clear,Dry,Daylight,NaN,NaN,10,0,0,N
6,1,Matched,Intersection,29510.0,DENNY WAY AND WESTLAKE AVE,Angles,1,2,0,0,...,0,Raining,Wet,Daylight,NaN,NaN,10,0,0,N
7,2,Matched,Intersection,29745.0,BROADWAY AND E PIKE ST,Cycles,2,3,0,1,...,N,Clear,Dry,Daylight,NaN,NaN,5,6855,0,N
8,1,Matched,Block,NaN,PINE ST BETWEEN 5TH AVE AND 6TH AVE,Parked Car,1,2,0,0,...,0,Clear,Dry,Daylight,NaN,NaN,32,0,0,N

In [15]:
cdf.dtypes

SEVERITYCODE        int64
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
COLLISIONTYPE      object
SEVERITYCODE.1      int64
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SPEEDING           object
ST_COLCODE         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [21]:
# As we can see above, some columns are not of the correct data type. 
# Numerical variables should have type 'float' or 'int', 
# and variables with strings such as categories should have type 'object'.

cdf[["SEVERITYCODE", "SEVERITYCODE.1", "INTKEY"]] = cdf[["SEVERITYCODE", "SEVERITYCODE.1", "INTKEY"]].astype("object")
cdf[["SEGLANEKEY", "CROSSWALKKEY"]] = cdf[["SEGLANEKEY", "CROSSWALKKEY"]].astype("object")
# cdf[["SPEEDING"]] = cdf[["SPEEDING"]].astype("float")
cdf.dtypes


#cdf.describe()

SEVERITYCODE      object
STATUS            object
ADDRTYPE          object
INTKEY            object
LOCATION          object
COLLISIONTYPE     object
SEVERITYCODE.1    object
PERSONCOUNT        int64
PEDCOUNT           int64
PEDCYLCOUNT        int64
VEHCOUNT           int64
INCDATE           object
INCDTTM           object
JUNCTIONTYPE      object
INATTENTIONIND    object
UNDERINFL         object
WEATHER           object
ROADCOND          object
LIGHTCOND         object
PEDROWNOTGRNT     object
SPEEDING          object
ST_COLCODE        object
SEGLANEKEY        object
CROSSWALKKEY      object
HITPARKEDCAR      object
dtype: object

In [17]:
cdf['WEATHER'].value_counts()

Clear                       110493
Raining                      32969
Overcast                     27545
Unknown                      14057
Snowing                        896
Other                          790
Fog/Smog/Smoke                 563
Sleet/Hail/Freezing Rain       112
Blowing Sand/Dirt               49
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64

In [18]:
cdf['ROADCOND'].value_counts()

Dry               123730
Wet                47213
Unknown            14005
Ice                 1192
Snow/Slush           992
Other                124
Standing Water       111
Sand/Mud/Dirt         73
Oil                   64
Name: ROADCOND, dtype: int64

In [19]:
cdf['LIGHTCOND'].value_counts()

Daylight                    115395
Dark - Street Lights On      48233
Unknown                      12597
Dusk                          5842
Dawn                          2490
Dark - No Street Lights       1525
Dark - Street Lights Off      1184
Other                          227
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

In [22]:
cdf['SPEEDING'].value_counts()

Y    9265
Name: SPEEDING, dtype: int64

In [23]:
# An indicator variable (or dummy variable) is a numerical variable used to label categories. 
# They are called 'dummies' because the numbers themselves don't have inherent meaning.
# So we can use categorical variables for regression analysis later. 

cdf.columns

Index(['SEVERITYCODE', 'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION',
       'COLLISIONTYPE', 'SEVERITYCODE.1', 'PERSONCOUNT', 'PEDCOUNT',
       'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE', 'INCDTTM', 'JUNCTIONTYPE',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SPEEDING', 'ST_COLCODE', 'SEGLANEKEY', 'CROSSWALKKEY',
       'HITPARKEDCAR'],
      dtype='object')

In [26]:
# get indicator variables and assign it to data frame "dummy_variable_1"
dummy_variable_1 = pd.get_dummies(cdf["WEATHER"])
dummy_variable_2 = pd.get_dummies(cdf["ROADCOND"])
dummy_variable_3 = pd.get_dummies(cdf["LIGHTCOND"])
dummy_variable_4 = pd.get_dummies(cdf["SPEEDING"])

# change column names for clarity
dummy_variable_1.rename(columns={'WEATHER':'Clear', 'WEATHER':'Raining'}, inplace=True)
dummy_variable_1.rename(columns={'WEATHER':'Overcast', 'WEATHER':'Unknown'}, inplace=True)
dummy_variable_1.rename(columns={'WEATHER':'Snowing', 'WEATHER':'Other'}, inplace=True)
dummy_variable_1.rename(columns={'WEATHER':'Fog/Smog/Smoke', 'WEATHER':'Sleet/Hail/Freezing Rain'}, inplace=True)
dummy_variable_1.rename(columns={'WEATHER':'Blowing Sand/Dirt','WEATHER':'Severe Crosswind'}, inplace=True)
dummy_variable_1.rename(columns={'WEATHER':'Partly Cloudy'}, inplace=True)

dummy_variable_2.rename(columns={'ROADCOND':'Dry', 'ROADCOND':'Wet'}, inplace=True)
dummy_variable_2.rename(columns={'ROADCOND':'Unknown', 'ROADCOND':'Ice'}, inplace=True)
dummy_variable_2.rename(columns={'ROADCOND':'Snow/Slush', 'ROADCOND':'Other'}, inplace=True)
dummy_variable_2.rename(columns={'ROADCOND':'Standing Water', 'ROADCOND':'Sand/Mud/Dirt'}, inplace=True)
dummy_variable_2.rename(columns={'ROADCOND':'Oil'}, inplace=True)

dummy_variable_3.rename(columns={'LIGHTCOND':'Daylight', 'LIGHTCOND':'Dark - Street Lights On'}, inplace=True)
dummy_variable_3.rename(columns={'LIGHTCOND':'Unknown', 'LIGHTCOND':'Dusk'}, inplace=True)
dummy_variable_3.rename(columns={'LIGHTCOND':'Dawn', 'LIGHTCOND':'Dark - No Street Lights'}, inplace=True)
dummy_variable_3.rename(columns={'LIGHTCOND':'Dark - Street Lights Off', 'LIGHTCOND':'Other'}, inplace=True)
dummy_variable_3.rename(columns={'LIGHTCOND':'Dark - Unknown Lighting'}, inplace=True)

dummy_variable_4.rename(columns={'SPEEDING':'Y'}, inplace=True)

dummy_variable_1.head()
dummy_variable_2.head()
dummy_variable_3.head()
dummy_variable_4.head()

   Y
0  0
1  0
2  0
3  0
4  0

In [27]:
# We now have i.e. the value 0 to represent "Dry" and 1 to represent "Wet" in the column "WEATHER" etc. 
# We will now insert this column back into our original dataset.

# merge data frame "cdf" and "dummy_variable_1" 
cdf = pd.concat([cdf, dummy_variable_1], axis=1)

# drop original column "WEATHER" from "cdf" 
cdf.drop("WEATHER", axis = 1, inplace=True)

# merge data frame "cdf" and "dummy_variable_1" 
cdf = pd.concat([cdf, dummy_variable_1], axis=1)


# drop original column "ROADCOND" from "cdf" 
cdf.drop("ROADCOND", axis = 1, inplace=True)

# merge data frame "cdf" and "dummy_variable_1" 
cdf = pd.concat([cdf, dummy_variable_1], axis=1)

# drop original column "LIGHTCOND" from "cdf" 
cdf.drop("LIGHTCOND", axis = 1, inplace=True)

# merge data frame "cdf" and "dummy_variable_1" 
cdf = pd.concat([cdf, dummy_variable_1], axis=1)

# drop original column "SPEEDING" from "cdf" 
cdf.drop("SPEEDING", axis = 1, inplace=True)



cdf.head()

,SEVERITYCODE,STATUS,ADDRTYPE,INTKEY,LOCATION,COLLISIONTYPE,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,...,Clear,Fog/Smog/Smoke,Other,Overcast,Partly Cloudy,Raining,Severe Crosswind,Sleet/Hail/Freezing Rain,Snowing,Unknown
0,2,Matched,Intersection,37475,5TH AVE NE AND NE 103RD ST,Angles,2,2,0,0,...,0,0,0,1,0,0,0,0,0,0
1,1,Matched,Block,NaN,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Sideswipe,1,2,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,Matched,Block,NaN,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Parked Car,1,4,0,0,...,0,0,0,1,0,0,0,0,0,0
3,1,Matched,Block,NaN,2ND AVE BETWEEN MARION ST AND MADISON ST,Other,1,3,0,0,...,1,0,0,0,0,0,0,0,0,0
4,2,Matched,Intersection,34387,SWIFT AVE S AND SWIFT AV OFF RP,Angles,2,2,0,0,...,0,0,0,0,0,1,0,0,0,0